<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.UserDao">
	
	<!-- 아이디로 유저 검색 -->
	<select id="selectUser" parameterType="String" resultType="User">
		SELECT * 
		FROM users
		WHERE id = #{id};
	</select>
	
	<!-- 신규유저 등록 -->
	<insert id="insertUser" parameterType="User">
		INSERT INTO users
		VALUES (#{id}, #{password}, #{name}, #{level});
	</insert>
	
	<!-- 기록 가져오기 -->
	<select id="selectRecord" parameterType="User" resultType="UserRecord">
		SELECT *
		FROM records
		WHERE user_id = #{user_id} AND date = #{date};
	</select>
	
	<!-- 기록 생성 -->
	<insert id="insertRecord" parameterType="UserRecord">
		INSERT INTO records
		VALUES (#{user_id}, #{date}, #{time}, #{th});
	</insert>
	
	<!-- 기록 업데이트 -->
	<update id="updateRecord" parameterType="UserRecord">
		UPDATE records
		SET time = time + #{time}, th = #{th}
		WHERE user_id = #{user_id} AND date = #{date};
	</update>
	
	<!-- 신규회원 최장 누적일 저장공간 만들기 -->
	<insert id="insertLongest" parameterType="User">
		INSERT INTO longestDate
		VALUES (#{id}, 0);
	</insert>
	
	<!-- 최장 누적일 가져오기 -->
	<select id="selectLongest" parameterType="String" resultType="int">
		SELECT longest
		FROM longestDate
		WHERE users_id = #{user_id};
	</select>
	
	<!-- 최장 누적일 업데이트 -->
	<update id="updateLongest" parameterType="UserRecord">
		UPDATE longestDate
		SET longest = ${th}
		WHERE users_id = #{user_id};
	</update>
	
	<!-- 운동 총 시간 -->
	<select id="selectTotalTime" parameterType="User" resultType="int">
		SELECT SUM(time)
		FROM records
		WHERE user_id = #{id};
	</select>
	
	<!-- 운동 총 일 -->
	<select id="selectTotalDay" parameterType="User" resultType="int">
		SELECT COUNT(*) 
		FROM records
		WHERE user_id = #{id} AND time != 0;
	</select>
	
	<!-- 연속 운동일 수 탑 10 반환 -->
	<select id="selectTopTen" resultType="Rank">
		SELECT * 
		FROM users u 
			INNER JOIN longestDate l 
			ON u.id = l.users_id
		ORDER BY longest DESC
		LIMIT 5;
	</select>
	
</mapper>